.bgIndex {
    background: url('../img/bgIndex.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.cusNavBar {
	margin-bottom: 0px;	
}